<div class="container animated fadeIn"> 
    <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Buscar manga...' (keyup)='updateFilter($event)'/> 
  <ngx-datatable
    #table
    style="height: 550px"
    class='material expandable'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'50'"
    [limit]="10"
    [rows]='animes'>
    
    <!-- El [minWidth] es importante para cuando es responsive, chequenle bien gg -->
    <ngx-datatable-column [minWidth]="100" name="ID" prop="id" width="100">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{value}}</strong>
      </ng-template>
    </ngx-datatable-column>

    <!-- El [minWidth] es importante para cuando es responsive, chequenle bien gg -->
    <ngx-datatable-column [minWidth]="200" name="Nombre" prop="name" width="250">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{value}}</strong>
      </ng-template>
    </ngx-datatable-column>

    <!-- El [minWidth] es importante para cuando es responsive, chequenle bien gg -->
    <ngx-datatable-column [minWidth]="100" name="Calidad" prop="quality" width="250">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{value}}</strong>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>