<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <div class="card">
        <form #formAnime="ngForm" (ngSubmit)="onSubmitAnime(formAnime.value); formAnime.reset()">              
          <div class="card-header">
            <strong>Animes</strong>
            <small>Formulario</small>
          </div>
          <div class="row card-body">
            <div class="col-sm-12 col-md-7">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input ngModel name="name" #nameInput #name="ngModel" type="text" class="form-control" placeholder="Ingrese el nombre de un anime..." required minlength="3">
                    <ul *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="name.errors.required"> Debes ingresar un <strong>nombre</strong> </li>
                      <li *ngIf="name.errors.minlength"> Debes ingresar un nombre como mínimo de <strong> {{ name.errors.minlength.requiredLength }} </strong> caracteres </li>
                    </ul>
                    <label for="quality">Calidad</label>
                    <input ngModel name="quality" #qualityInput #quality="ngModel" type="number" class="form-control" placeholder="Ingrese la calidad del anime..." required min="00" max="10">
                    <ul *ngIf="quality.invalid && (quality.dirty || quality.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="quality.errors.required"> Debes ingresar una <strong>calidad</strong> </li>
                    </ul>
                    <label for="image">Imagen</label>
                    <input ngModel name="image" #imageInput #image="ngModel" type="text" class="form-control" placeholder="Ingrese la dirección de la imagen..." required minlength="5">
                    <ul *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="image.errors.minlength"> Debes ingresar una dirección como mínimo de <strong> {{ image.errors.minlength.requiredLength }} </strong> caracteres </li>
                      <li *ngIf="image.errors.required"> Debes ingresar una <strong>imagen</strong> </li>
                    </ul>
                  </div>
                </div>
              </div><!--/.row-->
            </div>
            <div class="col-sm-12 col-md-3">
              <div *ngIf="name.value" class="card" style="height: 18rem; width: 12rem">
                <img class="card-img-top" [src]="image.value" *ngIf="image.value" alt="Página">
                <div class="card-body">
                  <h4 class="card-title">{{ name.value }}</h4>
                </div>
              </div>
            </div>            
          </div>
          <div class="card-footer text-left">
            <button [disabled]="formAnime.invalid" type="submit" class="btn btn-outline-primary"><i class="fa fa-check"></i> Registrar</button>
          </div>

        </form>
      </div>
    </div><!--/.col-->
  </div>
</div>