<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <div class="card">
        <form #formSerie="ngForm" (ngSubmit)="onSubmitSerie(formSerie.value)">              
          <div class="card-header">
            <strong>Series</strong>
            <small>Formulario</small>
          </div>
          <div class="row card-body">
            <div class="col-sm-12 col-md-7">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">

                    <label for="page">Página</label>
                    <select ngModel #page="ngModel" #pageInput name="pageId" id="page" type="number" class="form-control" required>
                      <option value=""></option>
                      <option *ngFor="let p of pages" [value]="p.id">
                        {{ p.name }}
                      </option>
                    </select>

                    <label for="serie">Serie</label>
                    <select ngModel #serie="ngModel" #serieInput name="serieId" id="serie" type="number" class="form-control" required>
                      <option value=""></option>
                      <option *ngFor="let a of series" [value]="a.id">
                        {{ a.name }}
                      </option>
                    </select>

                    <label for="url">Url</label>
                    <input ngModel name="url" #urlInput #url="ngModel" type="text" class="form-control" placeholder="Ingrese el nombre de un serie..." required url>
                    <ul *ngIf="url.invalid && (url.dirty || url.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="url.errors.required"> Debes ingresar un <strong>nombre</strong> </li>
                      <li *ngIf="url.errors.url"> Debes ingresar una <strong>url valida</strong> </li>
                    </ul>
                    <label for="caps">Calidad</label>
                    <input ngModel name="caps" #capsInput #caps="ngModel" type="number" class="form-control" placeholder="Ingrese la calidad del serie..." required min="00" max="10">
                    <ul *ngIf="caps.invalid && (caps.dirty || caps.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="caps.errors.required"> Debes ingresar una <strong>calidad</strong> </li>
                    </ul>
                  </div>
                </div>
              </div><!--/.row-->
            </div>
            <!-- <div class="col-sm-12 col-md-3">
              <div *ngIf="name.value" class="card" style="height: 18rem; width: 12rem">
                <img class="card-img-top" [src]="image.value" *ngIf="image.value" alt="Página">
                <div class="card-body">
                  <h4 class="card-title">{{ name.value }}</h4>
                </div>
              </div>
            </div>             -->
          </div>
          <div class="card-footer text-left">
            <button [disabled]="formSerie.invalid" type="submit" class="btn btn-outline-primary"><i class="fa fa-check"></i> Registrar</button>
          </div>

        </form>
      </div>
    </div><!--/.col-->
  </div>
</div>