<div class="animated fadeIn" *ngIf="series && pages">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <div class="card">
        <form #formSerie="ngForm" (ngSubmit)="onSubmitSerie(formSerie.value); formSerie.reset()">              
          <div class="card-header">
            <strong>Series</strong>
            <small>Formulario</small>
          </div>
          <div class="row card-body">
            <div class="col-sm-12 col-md-7">
              <p>
                <input #query (keyup)="filter(query.value)" class="form-control" type="text" placeholder="Buscar serie...">
              </p>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">

                    <label for="page">Página</label>
                    <select ngModel #page="ngModel" #pageInput name="pageId" (click)="(pageInput.value)? lookImagePag(pageInput.value): nothing()" id="page" type="number" class="form-control" required>
                      <option value=""></option>
                      <option *ngFor="let p of pages" [value]="p.id">
                        {{ p.name }}
                      </option>
                    </select>
                    <ul *ngIf="page.invalid && (page.dirty || page.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="page.errors.required"> Debes ingresar una <strong>página.</strong> </li>                      
                    </ul>

                    <label for="serie">Serie</label>
                    <select ngModel #serie="ngModel" #serieInput name="serieId" (click)="(serieInput.value)? lookImageSeri(serieInput.value): nothing()" id="serie" type="number" class="form-control" required>
                      <option value=""></option>
                      <option *ngFor="let f of filtered" [value]="f.id">
                        {{ f.name }}
                      </option>
                    </select>
                    <ul *ngIf="serie.invalid && (serie.dirty || serie.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="serie.errors.required"> Debes ingresar una <strong>película.</strong> </li>                      
                    </ul>

                    <label for="url">Url</label>
                    <input ngModel name="url" #urlInput #url="ngModel" type="text" class="form-control" placeholder="Ingrese el nombre de un serie..." required url>
                    <ul *ngIf="url.invalid && (url.dirty || url.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="url.errors.required"> Debes ingresar un <strong>nombre</strong> </li>
                      <li *ngIf="url.errors.url"> Debes ingresar una <strong>url valida</strong> </li>
                    </ul>
                    <label for="caps">Capitulos</label>
                    <input ngModel name="caps" #capsInput #caps="ngModel" type="number" class="form-control" placeholder="Ingrese la calidad del serie..." required min="00">
                    <ul *ngIf="caps.invalid && (caps.dirty || caps.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="caps.errors.required"> Debes ingresar una <strong>calidad</strong> </li>
                    </ul>
                  </div>
                </div>
              </div><!--/.row-->
            </div>
            <div class="col-sm-12 col-md-3" *ngIf="(lookImageSerie && lookImagePage)">              
              <div class="card" style="height: 10rem; width: 12rem">
                <img class="card-img-top" [src]="lookImageSerie" alt="Página">                
              </div>
              <div class="card" style="height: 10rem; width: 12rem">
                <img class="card-img-top" [src]="lookImagePage" alt="Página">                
              </div>
            </div> 
          </div>
          <div class="card-footer text-left">
            <button [disabled]="formSerie.invalid" type="submit" class="btn btn-outline-primary"><i class="fa fa-check"></i> Registrar</button>
          </div>

        </form>
      </div>
    </div><!--/.col-->
  </div>
</div>